{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Computes</h3>
            <div class="ui top attached tabular menu computes">
                <a class="item active" data-tab="instances">Instances</a>
                <a class="item" data-tab="volumes">Volumes</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="instances">
                <div class="ui center aligned  container"> 
                    <h2>Looks like you don't have any instances</h2>
                    <a class="ui teal button">Create Instances</a>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="volumes">
                <div class="ui center aligned container"> 
                    <h2>Looks like you don't have any block storage volumes</h2>
                    <a class="ui teal button">Add Volume</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.menu.computes .item')
        .tab()
        ;

</script>

{% endblock %}