{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Computes</h3>
            <div class="ui top attached tabular menu computes">
                <a class="item active" data-tab="instances">Instances</a>
                <a class="item" data-tab="volumes">Volumes</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="instances">
                <div class="ui vertical stripe center aligned container">
                    <h2>List Instances</h2>
                    <table class="ui teal table">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Status</th>
                                <th>Uptime</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for server in serverreq %}
                                <tr>
                                    <td>{{ server.name }}</td>
                                    {% if server.status == 0%}
                                    <td>Menunggu Persetujuan Admin</td>
                                    {% else %}
                                    <td>Tidak Aktif</td>
                                    {% endif %}
                                    <td>dd/mm/yyyy</td>
                                    {% if server.id == "" %}
                                    <td><a class="ui teal button disabled" disabled href="/manage/instance">Manage Instance</a></td>
                                    {% else %}
                                    <td><a class="ui teal button disabled" href="/manage/instance?id={{ server.id }}">Manage Instance</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">
                                    <a class="ui right floated teal button" href="/manage/create">Create Instance</a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="volumes">
                <div class="ui center aligned container">
                    <h2>Looks like you don't have any block storage volumes</h2>
                    <a class="ui teal button">Add Volume</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.menu.computes .item')
        .tab()
        ;
</script>

{% endblock %}