{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header" style="margin-bottom: 1em;">Create Instances</h3>
            <div class="ui container">
                <p>Choose an image</p>
                <div class="ui top attached tabular menu createi">
                    <a class="item active" data-tab="distribution">Distribution</a>
                    <a class="item" data-tab="apps">Apps</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="distribution" ng-controller="CreateinstanceController as ciCtrl">
                    <div class="ui padded container">
                        <div class="ui horizontal list">
                            <a class="item" ng-repeat="ins in ciCtrl.createInstance">
                                <div class="ui center aligned segment">
                                    <img class="ui small image" ng-src="{{ '{{ ins.image_logo }}' }}"></br>
                                    <span>Version {{ '{{ ins.version }}' }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="apps" ng-controller="CreateappsController as caCtrl">
                    <div class="ui padded container">
                        <div class="ui five column grid">
                            <a class="column" ng-repeat="appc in caCtrl.createApps">
                                <div class="ui center aligned segment">
                                    <i class="linux icon"></i></br>
                                    <span>{{ '{{ appc.nama }}' }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ui container">
                <p>Choose a size</p>
                <div class="ui top attached tabular menu createi">
                    <a class="item active" data-tab="flavor">Flavor</a>
                    <a class="item" data-tab="custom">Custom</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="flavor" ng-controller="CreateflavorController as cfCtrl">
                    <div class="ui padded container">
                        <div class="ui four column grid">
                            <div class="column" ng-repeat="cflav in cfCtrl.cFlavor">
                                <div class="ui center aligned segment">
                                    <p>{{ '{{ cflav.type }}' }}</p>
                                    <div class="ui divider"></div>
                                    <p>{{ '{{ cflav.processor }}' }} CPU</p>
                                    <p>{{ '{{ cflav.memori }}' }}GB RAM</p>
                                    <p>{{ '{{ cflav.disk }}' }}GB Disk</p>
                                    <a class="ui teal button">Choose</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="custom">
                    <div class="ui very padded container">
                        <div class="ui form">
                            <div class="field" id="slider">
                                <label for="vcpu">CPU : </label>
                                <input type="number" id="vcpu" readonly style="border:0; color:#00b5ad; font-weight:bold;">
                                <div id="slider-range-max-vcpu"></div>
                            </div>
                            <div class="field" id="slider">
                                <label for="memory">Memory : </label>
                                <input type="number" id="memory" readonly style="border:0; color:#00b5ad; font-weight:bold;">
                                <div id="slider-range-max-memory"></div>
                            </div>
                            <div class="field" id="slider">
                                <label for="disk">Disk : </label>
                                <input type="number" id="disk" readonly style="border:0; color:#00b5ad; font-weight:bold;">
                                <div id="slider-range-max-disk"></div>
                            </div>
                        </div>
                        </br>
                        <p><a href="/manage/request">Request your own flavor.</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ui container">
                <p>Add block storage</p>
                <a class="ui teal button">Add Volume</a>
            </div>
        </div>

        <div class="row">
            <div class="ui container">
                <p>Finalize and create</p>
                <div class="ui form">
                    <div class="field">
                        <label>Choose a hostname</label>
                        <input type="text" name="hostname" placeholder="Instance Hostname">
                    </div>
                    <div class="field">
                        <label>Usage Purpose</label>
                        <textarea rows="3"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Person in Charge Name</label>
                            <input type="text" name="pic_name" placeholder="Name">
                        </div>
                        <div class="field">
                            <label>Person in Charge Phone Number</label>
                            <input type="text" name="pic_telp" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <a class="ui fluid teal button">Create</a>
    </div>
</div>

<script>
    $('.menu.createi .item')
        .tab()
        ;

    $(function () {
        $("#slider-range-max-vcpu").slider({
            range: "max",
            min: 1,
            max: 2,
            value: 1,
            slide: function (event, ui) {
                $("#vcpu").val(ui.value);
            }
        });
        $("#vcpu").val($("#slider-range-max-vcpu").slider("value"));
    });

    $(function () {
        $("#slider-range-max-memory").slider({
            range: "max",
            min: 1,
            max: 4,
            value: 1,
            slide: function (event, ui) {
                $("#memory").val(ui.value);
            }
        });
        $("#memory").val($("#slider-range-max-memory").slider("value"));
    });

    $(function () {
        $("#slider-range-max-disk").slider({
            step: 20,
            min: 20,
            max: 80,
            value: 20,
            slide: function (event, ui) {
                $("#disk").val(ui.value);
            }
        });
        $("#disk").val($("#slider-range-max-disk").slider("value"));
    });

</script>

{% endblock %}