{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header" style="margin-bottom: 1em;">Create Instances</h3>
            <div class="ui container">
                </br>
                <h2 class="ui dividing header">Choose an Image</h2>
                <div class="ui top attached tabular menu createi">
                    <a class="item active" data-tab="distribution">Distribution</a>
                    <a class="item" data-tab="apps">Apps</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="distribution">
                    <div class="ui padded container">
                        <div class="ui four column grid">
                            {% for image in imagelist['images'] %}
                            <a class="column">
                                <div id="image-{{image['id']}}" class="ui center aligned segment instance">
                                    <p>{{image['name']}}</p>
                                    </br>
                                    <button class="ui fluid teal button" onclick="selectedimageid('{{image['id']}}')">Choose</button>
                                </div>
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="apps" ng-controller="CreateappsController as caCtrl">
                    <div class="ui padded container">
                        <div class="ui five column grid">
                            <a class="column" ng-repeat="appc in caCtrl.createApps">
                                <div class="ui center aligned segment apps" ng-click="select($index)" ng-class="{{ '{ teal: $index === selectedIndex }' }}">
                                    <i class="linux icon"></i></br>
                                    <p>{{ '{{ appc.nama }}' }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui container">
                <h2 class="ui dividing header">Choose a size</h2>
                <div class="ui top attached tabular menu createi">
                    <a class="item active" data-tab="flavor">Default Size</a>
                    <a class="item" data-tab="custom">Custom Size</a>
                    <a class="item" data-tab="request_flav">Spesific Size</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="flavor" ng-controller="CreateflavorController as cfCtrl">
                    <div class="ui padded container">
                        <div class="ui four column grid">
                            {% for flavor in flavorlist['flavors'] %}
                            <div class="column">
                                <div id="flavor-{{flavor['id']}}" class="ui center aligned segment">
                                    <div class="ul list">
                                        <div class="item">{{ flavor['name'] }}</div>
                                        <div class="ui divider"></div>
                                        <div class="item">{{ flavor['vcpus'] }} vCPU</div>
                                        {% if flavor['ram']|int >= 1024 %}
                                        <div>{{ ((flavor['ram']|int/1024)|string).rstrip(".0") }} GB of RAM</div>
                                        {% else %}
                                        <div>{{ flavor['ram']|int }}MB RAM</div>
                                        {% endif %}
                                        <div>{{ flavor['disk'] }}GB Disk</div>
                                    </div>
                                    </br>
                                    <button class="ui fluid teal button" onclick="selectedflavorid('{{flavor['id']}}')">Choose</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="custom">
                    <div class="ui very padded container" style="padding: 1em;">
                        <div class="ui form">
                            <div class="field" id="slider">
                                <label for="vcpu">CPU : </label>
                                <input type="number" id="vcpu" readonly style="border:0; color:#00b5ad; font-weight:bold;">
                                <div id="slider-range-max-vcpu"></div>
                                <div class="ui grid" style="margin-top: .5em;">
                                    <div class="left floated wide column">1vCPU</div>
                                    <div class="right floated wide column">2vCPU</div>
                                </div>
                            </div>

                            <div class="field" id="slider">
                                <label for="memory">Memory : </label>
                                <input type="number" id="memory" readonly style="border:0; color:#00b5ad; font-weight:bold;">
                                <div id="slider-range-max-memory"></div>
                                <div class="ui grid" style="margin-top: .5em;">
                                    <div class="left floated five wide column">1 GB</div>
                                    <div class="left floated five wide column">2 GB</div>
                                    <div class="left floated five wide column">3 GB</div>
                                    <div class="right floated wide column">4 GB</div>
                                </div>
                            </div>
                            <div class="field" id="slider">
                                <label for="disk">Disk : </label>
                                <input type="number" id="disk" readonly style="border:0; color:#00b5ad; font-weight:bold;">
                                <div id="slider-range-max-disk"></div>
                                <div class="ui grid" style="margin-top: .5em;">
                                    <div class="left floated five wide column">20 GB</div>
                                    <div class="left floated five wide column">40 GB</div>
                                    <div class="left floated five wide column">80 GB</div>
                                </div>
                            </div>
                            <div class="ui center aligned container">
                                <button class="ui fluid teal button">Choose</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="request_flav">
                    <div class="ui very padded container">
                        <div class="ui center aligned container">
                            <h3>Spesific Size</h3>
                            <p>if there is no flavor that suit your needed.</p>
                            </br>
                            <a class="ui fluid teal button" href="/manage/request">Request Spesific Size</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ui container">
                <h2 class="ui dividing header">Key Pair</h2>
                <div class="ui form">
                    <div class="field">
                        <label>Available Key Pair</label>
                        <div class="ui selection dropdown" id="key_list">
                            <input type="hidden" name="key_pair" onchange="selectedkeyid();">
                            <i class="dropdown icon"></i>
                            <div class="default text">Key Pair</div>
                            <div class="menu">
                                {% set n = 1 %}
                                {% for keypair in keylist['keypairs'] %}
                                {% if n == 1 %}
                                    <div class="item" selected data-value="{{ keypair['keypair']['name'] }}">{{ 
                                keypair['keypair']['name'] }}</div>
                                {% else %}
                                    <div class="item" data-value="{{ keypair['keypair']['name'] }}">{{ 
                                keypair['keypair']['name'] }}</div>
                                {% endif %}
                                {% set n = n+1   %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Add Key Pair</label>
                        <div class="ui action input">
                            <form action="/restapi/nova/keylist/new"  method="GET">
                            <input type="text" name="keyname" placeholder="Add key pair">
                            <button class="ui fluid large teal submit button" type="submit" onsubmit="location.reload(true);}">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui container">
                <h2 class="ui dividing header">Finalize and create</h2>
                <div class="ui form">
                    <div class="field">
                        <label>Choose a name</label>
                        <input type="text" name="name" placeholder="Instance Name" onchange="selectedname(this.value);">
                    </div>
                    <div class="field">
                        <label>Usage Purpose</label>
                        <textarea rows="3" onchange="document.getElementById('purpose').value = this.value;"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Person in Charge Name</label>
                            <input type="text" name="text" placeholder="Name" onchange="document.getElementById('pic_name').value = this.value;">
                        </div>
                        <div class="field">
                            <label>Person in Charge Phone Number</label>
                            <input type="text" name="text" placeholder="Phone Number" onchange="document.getElementById('pic_telp').value = this.value;">
                        </div>
                    </div>
                </div>
            </div>

        </br>
        <form id="form_create" class="ui large form" method="POST">

            <input id="imageRef" type="text" name="imageRef" hidden value="yoi">
            <input id="flavorRef" type="text" name="flavorRef" hidden value="">
            <input id="availability_zone" type="text" name="availability_zone" hidden value="nova">
            <input id="key_name" type="text" name="key_name" hidden value="">
            <input id="name" type="text" name="name" hidden value="">
            <input id="purpose" type="text" name="name" hidden value="">
            <input id="pic_name" type="text" name="pic_name" hidden value="">
            <input id="pic_telp" type="text" name="pic_telp" hidden value="">
            
            <button id="submit_button" class="ui fluid large teal submit button" type="submit" onclick="submit('form_create')">Create</button>
        </form>
    </div>
</div>
<script>
    $('.menu.createi .item')
        .tab()
        ;

    $(function () {
        $("#slider-range-max-vcpu").slider({
            range: "max",
            min: 1,
            max: 2,
            value: 1,
            slide: function (event, ui) {
                $("#vcpu").val(ui.value);
            }
        });
        $("#vcpu").val($("#slider-range-max-vcpu").slider("value"));
    });

    $(function () {
        $("#slider-range-max-memory").slider({
            range: "max",
            min: 1,
            max: 4,
            value: 1,
            slide: function (event, ui) {
                $("#memory").val(ui.value);
            }
        });
        $("#memory").val($("#slider-range-max-memory").slider("value"));
    });

    $(function () {
        $("#slider-range-max-disk").slider({
            step: 20,
            min: 20,
            max: 80,
            value: 20,
            slide: function (event, ui) {
                $("#disk").val(ui.value);
            }
        });
        $("#disk").val($("#slider-range-max-disk").slider("value"));
    });

</script>

{% endblock %}