{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe imagesm container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Images</h3>
        </div>
        <div class="row">
            <h4 class="item active" data-tab="snapshots">Snapshots</h4>
        </div>
        <div class="ui  segment">
            <div class="ui center aligned  container">
                <h2>Looks like you don't have any snapshots</h2>
                <a class="ui teal button">Create Snapshots</a>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $('.menu.imagesm .item')
        .tab()
        ;

</script>

{% endblock %}