{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe imagesm container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Images</h3>
            <div class="ui top attached tabular menu imagesm">
                <a class="item active" data-tab="snapshots">Snapshots</a>
                <a class="item" data-tab="backups">Backups</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="snapshots">
                <div class="ui center aligned  container"> 
                    <h2>Looks like you don't have any instances</h2>
                    <a class="ui teal button">Create Instances</a>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="backups">
                <div class="ui center aligned container"> 
                    <h2>Looks like you don't have any backup</h2>
                    <a class="ui teal button">Add Backup</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.menu.imagesm .item')
        .tab()
        ;

</script>

{% endblock %}