{% extends "base.html" %} 
{% block content %}

<!-- Banner Layanan -->
<div class="ui teal inverted vertical segment" id="banner-other">
    <div class="ui middle aligned stackable grid container">
        <h2 class="ui left aligned inverted header">Layanan</h2>
    </div>
</div>

<!-- Layanan Content -->
<div class="ui vertical stripe infra segment" ng-controller="FlavorlayananController as flCtrl">
    <div class="ui stackable grid container">
        <div class="column">
            <h3 class="ui header">Infrastruktur</h3>
            <p>Didukung arsitektur terdistribusi dengan menggunakan teknologi terkini, membuat layanan infrastruktur CloudDDS
                menjadi pilihan tepat bagi Anda yang membutuhkan sumber daya komputasi untuk membangun aplikasi, menyimpan
                berkas, atau mempersiapkan arsitektur sistem sesuai kebutuhan.</p>
        </div>
    </div>

    <div class="ui stackable grid container">
        <div class="four wide column">
            <div class="ui teal basic button">Virtual Machine</div>
            <div class="ui padded segment">
                <h1>{{ '{{ flCtrl.lFlavor[flCtrl.tab].price | currency:"Rp ":0 }}' }}K / Bulan</h1>
                <div class="ui list">
                    <div class="item">
                        <h4>vCPU
                            <span class="ui right floated">{{ '{{ flCtrl.lFlavor[flCtrl.tab].vcpu }}' }}</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h4>RAM
                            <span class="ui right floated">{{ '{{ flCtrl.lFlavor[flCtrl.tab].ram }}' }}GB</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h4>Swap
                            <span class="ui right floated">{{ '{{ flCtrl.lFlavor[flCtrl.tab].swap }}' }}GB</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h4>Storage
                            <span class="ui right floated">{{ '{{ flCtrl.lFlavor[flCtrl.tab].disk }}' }}GB</span>
                        </h4>
                    </div>
                    <div class="item">
                        <h4>Public IP
                            <span class="ui right floated">{{ '{{ flCtrl.lFlavor[flCtrl.tab].public_ip }}' }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column">
            <div class="ui vertical divider"></div>
        </div>
        <div class="eleven wide column">
            <div class="row">
                <p class="ui container">
                    Server virtual dengan harga terjangkau dan teknologi komputasi awan terkini yang menjamin kehandalan performa maupun ketersediaan
                    serta dengan kemampuan skalabilitas yang tinggi. Mendukung berbagai macam OS favorit serta dapat dipasang
                    berbagai macam aplikasi serta kerangka pemrograman. Cocok untuk Anda yang membutuhkan server stabil untuk
                    berbagai keperluan.
                </p>
            </div>
            </br>
            <div class="row">
                <div class="ui horizontal list">
                    <div class="item">
                        <!-- ng-class="{active: flCtrl.getFlav(1) }" -->
                        <a class="ui massive button" ng-click="flCtrl.tab = 0">S</a>
                        <!-- ng-click="flCtrl.setTab(1)" -->
                    </div>
                    <div class="item">
                        <a class="ui massive button" ng-click="flCtrl.tab = 1">M</a>
                    </div>
                    <div class="item">
                        <a class="ui massive button" ng-click="flCtrl.tab = 2">L</a>
                    </div>
                    <div class="item">
                        <a class="ui massive button" ng-click="flCtrl.tab = 3">XL</a>
                    </div>
                </div>
            </div>
            </br>
            <div class="row"> <a class="ui teal large berlangganan button">Berlangganan</a></div>
        </div>
    </div>
</div>

<div class="ui vertical stripe apps segment" ng-controller="AppslayananController as alCtrl">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="column">
                <h3 class="ui header">Apps</h3>
                <p>Didukung arsitektur terdistribusi dengan menggunakan teknologi terkini, membuat layanan infrastruktur CloudDDS
                    menjadi pilihan tepat bagi Anda yang membutuhkan sumber daya komputasi untuk membangun aplikasi, menyimpan
                    berkas, atau mempersiapkan arsitektur sistem sesuai kebutuhan.</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui teal basic button">One Click Apps</div>
            </div>
        </div>
        <div class="row">
            <div class="ui four column grid">
                <div class="column" ng-repeat="app in alCtrl.lApps">
                    <div class="ui center aligned segment">
                        <i class="linux icon"></i></br>
                        {{ '{{ app.nama }}' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui berlangganan modal">
    <i class="close icon"></i>
    <div class="header">
        Konfigurasi Virtual Machine
        <p class="ui right floated">- Small Flavor</p>
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    <a class="active item" data-tab="server">Server</a>
                    <a class="item" data-tab="os">Sistem Operasi</a>
                    <a class="item" data-tab="biaya">Biaya</a>
                    <a class="item" data-tab="ringkasan">Ringkasan</a>
                </div>
            </div>
            <div class="twelve wide stretched column">
                <div class="ui bottom attached active tab segment" data-tab="server">
                    <form class="ui form">
                        <div class="field">
                            <label>Instance Name</label>
                            <input type="text" name="instance_name" placeholder="Instance Name">
                        </div>
                        <div class="field">
                            <label>Availability Zone</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="Availability Zone">
                                <i class="dropdown icon"></i>
                                <div class="default text">Availability Zone</div>
                                <div class="menu">
                                    <div class="item" data-value="1">
                                        Nova
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Root Password</label>
                            <input type="password" name="rootpw" placeholder="Root Password">
                        </div>
                    </form>
                </div>
                <div class="ui bottom attached tab segment" data-tab="os">
                    <div class="ui form">
                        <div class="field">
                            <label>Sistem Operasi</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="Sistem Operasi">
                                <i class="dropdown icon"></i>
                                <div class="default text">Sistem Operasi</div>
                                <div class="menu">
                                    <div class="header">
                                        <i class="windows icon"></i> Windows
                                    </div>
                                    <div class="divider"></div>
                                    <div class="item" data-value="1">
                                        Windows Server 2008
                                    </div>
                                    <div class="item" data-value="2">
                                        Windows Server 2008 R2
                                    </div>
                                    <div class="item" data-value="3">
                                        Windows Server 2013
                                    </div>
                                    <div class="item" data-value="4">
                                        Windows Server 2013 R2
                                    </div>
                                    <div class="header">
                                        <i class="linux icon"></i> linux
                                    </div>
                                    <div class="divider"></div>
                                    <div class="item" data-value="5">
                                        Ubuntu
                                    </div>
                                    <div class="item" data-value="6">
                                        Debian
                                    </div>
                                    <div class="item" data-value="7">
                                        CentOS
                                    </div>
                                    <div class="item" data-value="8">
                                        Fendora
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="biaya">
                    <div class="ui form">
                        <div class="inline field">
                            <label>Biaya</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="Biaya">
                                <i class="dropdown icon"></i>
                                <div class="default text">Rp 100K / Bulan</div>
                                <div class="menu">
                                    <div class="item" data-value="1">
                                        Rp 100K / Bulan
                                    </div>
                                    <div class="item" data-value="2">
                                        Rp 400K / 4 Bulan
                                    </div>
                                    <div class="item" data-value="3">
                                        Rp 600K / 6 Bulan
                                    </div>
                                    <div class="item" data-value="4">
                                        Rp 1200K / Tahun
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="ringkasan">
                    LALALA
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui red cancel right labeled icon button">
            Batal
            <i class="remove icon"></i>
        </div>
        <div class="ui teal ok right labeled icon button">
            Langganan
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script>
    $('.ui.berlangganan.modal')
        .modal('attach events', '.ui.berlangganan.button', 'show')
        .modal('setting', 'transition', 'fade up');

    $('.menu .item')
        .tab()
        ;

    $('.ui.selection.dropdown')
        .dropdown()
        ;

</script>

{% endblock %}