<!DOCTYPE Html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Layanan cloud DDS Telkom" />
    <title>Login Cloud - DDS Telkom</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/semantic.min.js"></script>

    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            email: {
                                identifier: 'email',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your e-mail'
                                    },
                                    {
                                        type: 'email',
                                        prompt: 'Please enter a valid e-mail'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            }
                        }
                    })
                    ;
            })
            ;
    </script>

</head>

<body class="login-signup">
    <a href="/">
        <img class="ui medium image logo" id="logo" src="static/img/logo-cloud-dds.png"></a>
    <div class="ui middle aligned center aligned grid">
        <div class="login-signup column">
            <form class="ui large form">
                <div class="ui segment">
                    <h1 class="ui text header logo">
                        Log In
                    </h1>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="at icon"></i>
                                <input type="text" name="text" disabled placeholder="telkom.co.id">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <a class="ui fluid large teal submit button" href="/manage">Login</a>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                Tidak punya akun ? <a href="/registration">Sign Up</a>
            </div>
        </div>
    </div>
</body>

</html>