{% extends "manage.html" %} {% block content %}

<div class="ui vertical stripe settings container">
    {% if message %}
    <div class="ui negative message">
        <i class="close icon"></i>
        {{message}}</div>
    {% endif %}
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Settings</h3>
        </div>
    </div>
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui secondary vertical menu">
                <a class="active item" data-tab="profile">Profile</a>
                <a class="item" data-tab="billing">Billing</a>
                <a class="item" data-tab="notifications">Notifications</a>
            </div>
        </div>
        <div class="thirteen wide stretched column">
            <div class="ui active tab container" data-tab="profile">
                <div class="ui segment">
                    <div class="ui padded grid container">
                        <div class="three wide column">
                            <img class="ui small avatar image" src="../static/img/avatar/tom.jpg">
                        </div>
                        <div class="nine wide stretched column">
                            <h3>{{users.name}}</h3>
                            <div class="ui list">
                                <div class="item">{{users.email}}</div>
                                <div class="item">{{users.registered_on.date()}}</div>
                                <div class="item">{{users.nomorhp}}</div>
                                <div class="item">Instances Created</div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui right aligned container">
                                <a class="ui fluid teal editprofile button" style="margin-bottom: .5em;">Edit Profile</a>
                                <a class="ui fluid teal changepassword button">Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui very padded segment">
                    <p>This will permanently delete all instances and backups.</p>
                    <a class="ui right aligned red button">Deactive Account</a>
                </div>
            </div>
            <div class="ui very padded tab segment" data-tab="billing">
                <h3>Usage
                    <span class="ui right floated"></span>
                </h3>
                <a class="ui teal fluid button">View Usage Detail</a>
            </div>
            <div class="ui very padded tab segment" data-tab="notifications">
                <h3>Email Subscriptions</h3>
                <p>By subscribing to our newsletter, you will be opting to receive updates about new feature releases, security
                    updates, and more.</p>
                </br>
                <p>If you're not interested in receiving this content, please uncheck the box to unsubscribe.</p>
                </br>
                <div class="ui checkbox">
                    <input type="checkbox" name="subscribe">
                    <label>Subscribe to newsletter</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui editprofile modal">
    <i class="close icon"></i>
    <div class="header">
        Edit your profile
    </div>
    <div class="content">
        <form class="ui form" method="POST" action="">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name"  value="{{users.name}}" >
            </div>
            <div class="field">
                <label>Email Address</label>
                <input type="email" name="email" value="{{users.email}}" disabled>
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input type="text" name="phone-number" value="{{users.nomorhp}}" >
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="ui teal submit button updateprof" type="submit" name="btn" value="updateprofile">Update Profile</button>
        </form>
    </div>
</div>

<div class="ui changepassword modal">
    <i class="close icon"></i>
    <div class="header">
        Change Password
    </div>
    <div class="content">
        <form class="ui form changepassword" method="POST" action="">
            <div class="ui error message">
            </div>
            <div class="field">
                <label>Old Password</label>
                <input type="password" name="old-password" placeholder="Old Password" >
            </div>
            <div class="field">
                <label>New Password</label>
                <input type="password" name="new-password" placeholder="New Password">
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="confirm-password" placeholder="Confirm Password" >
            </div>

            <button class="ui teal submit button changepsswd" type="submit" name="btn" value="changepassword">Change Password</button>
        </form>
    </div>
</div>

<script>
    $('.menu .item')
        .tab();

    $('.ui.editprofile.modal')
        .modal('attach events', '.ui.editprofile.button', 'show')
        .modal('setting', 'transition', 'fade up');

    $('.ui.changepassword.modal')
        .modal('attach events', '.ui.changepassword.button', 'show')
        .modal('setting', 'transition', 'fade up');

        $('.ui.negative.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
          })
        ;


        $(document)
            .ready(function () {
                $('.ui.form.changepassword')
                    .form({
                        fields: {
                            password: {
                                identifier: 'new-password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Masukkan password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Password minimal 6 karakter'
                                    }
                                ]
                            },
                            match: {
                                identifier: 'confirm-password',
                                rules: [
                                    {
                                        type: 'match[new-password]',
                                        prompt: 'Password tidak sama'
                                    }
                                ]
                            }

                        }
                    })
                    ;
            })
            ;
</script>
{% endblock %}
