<!-- content page bantuan -->
<div class="ui teal inverted vertical segment" id="banner-other">
    <div class="ui middle aligned stackable grid container">
        <h2 class="ui left aligned inverted header">Bantuan</h2>
    </div>
</div>

<!-- Bantuan Content -->
<div class="ui vertical stripe bantuan segment" ng-controller="InfobantuanController as ibCtrl">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui two column center aligned stackable divided grid">
                <div class="column" ng-repeat="bantuan in ibCtrl.bInfo">
                    <div class="ui header">
                        <img class="ui tiny image" ng-src="{{ bantuan.image }}">
                    </div>
                    <h3 class="ui header">{{ bantuan.title }}</h3>
                    <p>{{ bantuan.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>