<!-- content page bantuan -->
<div class="ui teal inverted vertical segment" id="banner-other">
    <div class="ui middle aligned stackable grid container">
        <h2 class="ui left aligned inverted header">Bantuan</h2>
    </div>
</div>

<div class="ui vertical stripe bantuan segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui two column center aligned stackable divided grid">
                <div class="column">
                    <div class="ui header">
                        <img class="ui tiny image" src="assets/images/cloud-computing.png">
                    </div>
                    <h3 class="ui header">Layanan Cloud Cepat dan Handal</h3>
                    <p>Dengan penggunaan layanan yang berbasis OpenStack dan layanan support yang selalu tersedia.</p>
                </div>
                <div class="column">
                    <div class="ui header">
                        <img class="ui tiny image" src="assets/images/list.png">
                    </div>
                    <h3 class="ui header">Mendukung Semua yang Dibutuhkan</h3>
                    <p>Layanan kami mendukung semua fitur dan kebutuhan yang anda perlukan untuk cloud anda.</p>
                </div>
            </div>
        </div>
    </div>
</div>