<div class="column">
    
    <form class="ui form" novalidate>
        <div class="ui segment">
            <h2 class="ui teal header">Login</h2>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <a href="template/dashboard"><buton class="ui fluid large teal submit button">Login</button></a>
        </div>
        <div class="ui error message"></div>
    </form>
</div>