<!-- Following Menu -->
<div class="ui large top borderless fixed hidden menu">
    <div class="ui container">
        <a class="item" href="#">
            <img class="ui small image" src="assets/images/logo-cloud-dds.png">
        </a>
        <div class="right menu">
            <a class="item" href="layanan.html">LAYANAN &amp; HARGA</a>
            <a class="item" href="bantuan.html">BANTUAN</a>
            <div class="item">
                <a class="ui teal button" href="login.html">LOGIN</a>
            </div>
            <div class="item">
                <a class="ui teal button" href="signup.html">SIGNUP</a>
            </div>
        </div>
    </div>
</div>