<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">LAYANAN</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">Infrastruktur</a>
                    <a href="" class="item">Platform</a>
                    <a href="" class="item">Tambahan</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">RUJUKAN</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">Basis Pengetahuan</a>
                    <a href="" class="item">FAQ</a>
                    <a href="" class="item">Kontak</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">PT. Telekomunikasi Indonesia, Tbk</h4>
                <p>DDS Telkom.</br> Jl. Gegerkalong Hilir No. 47. Bandung 40152.</p>
            </div>
        </div>
    </div>
</div>