<!-- Following Menu -->
<div class="ui large top borderless fixed hidden menu">
    <div class="ui container">
        <a class="item" href="#!home">
            <img class="ui small image" src="assets/images/logo-cloud-dds.png">
        </a>
        <div class="right menu">
            <a class="item" href="#!layanan">LAYANAN &amp; HARGA</a>
            <a class="item" href="#!bantuan">BANTUAN</a>
            <div class="item">
                <a class="ui teal button" href="template/login/login.html">LOGIN</a>
            </div>
            <div class="item">
                <a class="ui teal button" href="template/signup/signup.html">SIGNUP</a>
            </div>
        </div>
    </div>
</div>