<div class="ui teal inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="left item">
                <a class="item" href="#">
                    <img class="ui small image" src="assets/images/logo-cloud-dds.png">
                </a>
            </div>
            <div class="right item">
                <a class="item" href="layanan.html">LAYANAN &amp; HARGA</a>
                <a class="item" href="bantuan.html">BANTUAN</a>
                <a class="ui inverted teal basic button" href="login.html">LOGIN</a>
                <a class="ui inverted teal basic button" href="signup.html">SIGNUP</a>
            </div>
        </div>
    </div>
</div>