<!DOCTYPE Html>
<html ng-app="cloudApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Cloud Telkom - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../dist/vendor/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="../../dist/custom.css" />
    <script type="text/javascript" src="../../dist/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../../dist/vendor/semantic.min.js"></script>
    <script type="text/javascript" src="../../dist/vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../dist/app.js"></script>
</head>

<body>
    <div class="ui menu">
        <a class="browse item">
            Browse
        </a>
    </div>
</body>

</html>