{% extends "admin/admin-page.html" %} {% block content %}

<div class="ui vertical stripe computes container">
    <div class="ui stackable grid container">
        <div class="row">
            <h3 class="ui header">Manage VM</h3>
            <div class="ui vertical stripe center aligned container">
                <h2>List VM</h2>
                <table class="ui teal table center aligned">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Operating System</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Instance test</td>
                            <td>linux</td>
                            <td>user</td>
                            <td>Active</td>
                            <td>
                                <button class="ui yellow button">Status</button>
                                <div class="ui fluid popup top left transition hidden">
                                    <div class="ui three column divided center aligned grid">
                                        <div class="column">
                                            <button class="ui button">Active</button>
                                        </div>
                                        <div class="column">
                                            <button class="ui button">Pending</button>
                                        </div>
                                        <div class="column">
                                            <button class="ui button">Suspend</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="ui green button">Detail</button>
                                <button class="ui red button">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.yellow.button').popup({
        popup: $('.ui.flowing.popup'),
        on: 'click'
    });

</script>

{% endblock %}
